<?xml version="1.0" encoding="UTF-8"?>
<!-- Analyzer config file, SDSS sorting prototype - Stage I, Copyright (c) 2009 0.156 - arthospec branch, Rev. 129 -->
<SETTINGS>
	<STEP current="1" total="200"/>
	<GRIDSIZE value="2"/>
	<RANDOMSEED value="15"/>
	<LEARNRATE begin="0.25" end="0.01"/>
	<RADIUS begin="1" end="0.125"/>
	<SPECTRUM file="sofmnet.bin"/>
	<EXPORT>
		<SUBPAGES value="0"/>
		<WAITFORUSER value="0"/>
	</EXPORT>
	<SEARCHMODE value="global"/><!-- localfast / local / global -->
	<NORMALIZATION value="none"/><!-- amplitude / flux / none -->
</SETTINGS>
